<% content_for :navbar_class, "navbar-wagon-white-fix" %>
<div class="container">
  <div class="container-booking">
    <h1>Vos messages</h1>
    <%= link_to "Retour", bookings_path%>
      <ul class="messages">
        <% @messages.each do |message| %>
          <%= render 'show', booking: @booking, message: message %>
        <% end %>
      </ul>
      <%= render 'form', booking: @booking, message: @message %>
    </div>
  </div>
</div>
