/* Upload pool photo in "show.html.erb" */
.no-picture {
  height: 300px ;
  width: 400px ;
}

.padding-top-form {
  padding-top: 10px;
}


.form-banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 15vh;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  display: relative;
  position: relative;
}
.form-title {
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-form {
  position: absolute;
  text-align: left;
  padding-left: 40vh;
}

.form-banner h1 {
  font-size: 56px;
  text-width: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.form-banner p {
  font-size: 25px;
  margin-bottom: 30px;
}
.banner-form {
  width: 100vw;
  text-align: left;
  a {
    position: absolute;
    top: calc(75vh - 25px);
  }
}



/****** Module de notre Star rating commence ici... :) *****/

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style de notre Star Rating *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** La Magie de CSS pour surligner les Stars sur le Hover *****/

.rating > input:checked ~ label, /* montre une gold star when clicked */
.rating:not(:checked) > label:hover, /* hover de la current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover de la previous stars */

.rating > input:checked + label:hover, /* hover de current star quand change rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten la selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.yellow {
  color : #FFD700;
}
