.container-home {
  margin-top: 100px;
  margin: 50px;
}

.container-booking {
  margin-top: 100px;
}

.display-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container-home-title {
  margin-left: 130px;
  margin-right: 130px;
}
