.container-home {
  margin-top: 50px;
  margin: 40px;
}

.container-booking {
  margin-top: 100px;
  padding-left: 20px;
  color: #79807E;
}

.display-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container-home-title {
  margin-left: 130px;
  margin-right: 130px;
  color: #79807E;
  margin-top: 65px;
  margin-bottom: -20px;
}
