<% @bookings.each do |booking| %>

  <h3><%= booking.pool.title %></h3>

   <p><%= booking.date %></p>
  <%= link_to "Delete", booking_path(booking), method: :delete, data: {confirm: "Êtes-vous sûr ?"} %>
  <% end %>


