<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1470329508532-be27fda94658?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=18d525f3cc233055306d56d2b7b78fb4&auto=format&fit=crop&w=2851&q=80');">
  <div class="card-category">Hot!</div>
  <div class="card-description">
    <h2><%= cocktail.name %></h2>
    <p>Easy to make</p>
  </div>
  <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
</div>
