.bookings {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-height: 70vh;
  box-shadow: 5px 5px 5px 5px rgba(72, 164, 225, .2);
}

.booking {
  background: white;
  padding: 20px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-radius: 6px;
}

.booking-title {
  flex-grow: 1;
  padding-left: 55px;
  font-size: 13px;
  color: rgba(0,0,0,0.4);
  margin-bottom: 0px;
}

.booking-status p {
  margin: 0px;
  font-weight: bold;
  padding-left: 10px;
  text-align: center;
  color: black;
}

.booking-title a {
  color: black;
}

.booking-price p {
  margin: 0px;
  font-weight: bold;
}

.booking-accept a {
  color: green;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
}

.booking-delete a {
  color: red;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
}

.booking-messages p {
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
}

#booking-waiting {
  background: white;
  box-shadow: 3px 3px rgba(189, 189, 189, 0.2);
  border: 4px #929292 solid;
}

#booking-canceled {
  background: white;
  box-shadow: 3px 3px rgba(189, 189, 189, 0.2);
  border: 4px #f96666 solid;
}

#booking-accepted {
  background: white;
  box-shadow: 3px 3px rgba(189, 189, 189, 0.2);
  border: 4px #0bbd46 solid;
}
