.bookings {
  background: #3bbbf32e;
  padding: 20px;
  border-radius: 8px;
}


.booking {
  background: white;
  padding: 20px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-radius: 6px;
}

.booking-title {
  flex-grow: 1;
  padding-left: 55px;
  font-size: 13px;
  color: rgba(0,0,0,0.4);
  margin-bottom: 0px;
}

.booking-status p {
  margin: 0px;
  font-weight: bold;
  padding-left: 10px;
  text-align: center;
}

.booking-title a {
  color: black;
}

.booking-price p {
  margin: 0px;
  font-weight: bold;
}

.booking-accept a {
  color: green;
  padding-left: 10px;
  padding-right: 10px;
}

.booking-delete a {
  color: red;
  padding-left: 10px;
  padding-right: 10px;
}

.booking-messages p {
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
  size: 16px;
}
