.btn-search {
  color: white;
  background-color: $blue;
  border: 2px solid;
  border-radius: 10px;
  width: 24vw;
  box-shadow: 2px 2px 2px 2px rgba(72, 164, 225, .2);
}

#btn-search-homepage {
  width: 245px;
  padding: 10px;
  font-size: 16px;
  margin: 10px;
}

.btn-blue {
  background: #31BAF5;
  color: white;
  border-radius: 7px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-blue:hover {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16);
  color: white;
  transform: translateY(-1px);
  background: #259bce;
}

.btn-search:hover {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16);
  color: white;
  transform: translateY(-1px);
  background: #259bce;
}

.btn-modif {
  color: #31BAF5;
  font-size: 40px;
  padding: 10px;
}

.btn-review {
  background: #31BAF5;
  color: white;
  border-radius: 7px;
  padding: 10px;
  margin-right: 10px;
}

.btn-review:hover {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16);
  color: white;
  transform: translateY(-1px);
  background: #259bce;
}
