.form-pool {
  padding-left: 50px;
  background: #ffffffbf;
  margin: 20px;
  border-radius: 19px;
  box-shadow: 3px 3px 19px #888888;
  padding-top: 33px;
  padding-bottom: 33px;
  padding-right: 50px;
}


#title-form {
  color:white
}


.search-form {
  width: 200px;
  border-radius: 7px;
  padding: 20px;
}
