.messages {
  background: #3bbbf32e;
  padding: 20px;
  border-radius: 8px;
  min-height: 50vh;
}

.message {
  background: white;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 170px;
}

.message-content {
  flex-grow: 1;
  padding-left: 55px;
  font-size: 13px;
  color: rgba(0,0,0,0.4);
  margin-bottom: 0px;
}

.message-content p {
  color: black;
  margin: 0px;
}

.message-pic {

}

.message-user p {
  color: black;
  margin: 0px;
  margin-left: 15px;
}

.message-date p {
  margin: 0px;
  font-size: 13px;
}

.message-current-user {
  background: #31BAF5;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-left: 170px;
}

.message-current-user p {
  color: white;
}
