.messages {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-height: 50vh;
  box-shadow: 3px 3px 3px 3px rgba(72, 164, 225, 0.2)
}

.message {
  background: #3bbbf32e;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 170px;
}

.message-content {
  flex-grow: 1;
  padding-left: 14px;
  font-size: 12px;
  color: rgba(0,0,0,0.4);
  margin-bottom: 0px;
}

.message-content p {
  color: black;
  margin: 0px;
}

.message-pic {

}

.message-user p {
  color: black;
  margin-left: 8px;
  font-size: 12px;
  margin-bottom: 0;
}

.message-date p {
  margin: 0px;
  font-size: 10px;
}

.message-current-user {
  background: #31BAF5;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-left: 170px;
}

.message-current-user p {
  color: white;
}
