.messages {
  background: #3bbbf32e;
  padding: 20px;
  border-radius: 8px;
  min-height: 70vh;
}


.message {
  background: white;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 10px;
}

.message-content {
  flex-grow: 1;
  padding-left: 55px;
  font-size: 13px;
  color: rgba(0,0,0,0.4);
  margin-bottom: 0px;
}

.message-content p {
  color: black;
  margin: 0px;
}
