.pools {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-height: 70vh;
}

.pool {
  background: white;
  padding: 20px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-radius: 6px;
}

.pool-title {
  flex-grow: 1;
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.4);
  margin-bottom: 0px;
}

.pool-title a {
  color: black;
}

.pool-price p {
  margin: 0px;
  font-weight: bold;
  padding-right: 10px;
}

.pool-delete a {
  color: #f70000;
  padding-left: 50px;
  padding-right: 10px;
}
