.pools {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-height: 70vh;
}

.pool {
  background: white;
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-radius: 6px;
  box-shadow: 3px 3px 3px 3px rgba(72, 164, 225, 0.2)
}

.pool-desciption {
    color: #ACACAC;
    font-size: 14px;
    font-weight: lighter;
}
.contain-title-description-price {
    padding: 10px;
}

.pool-title {
  font-size: 13px;
  color: rgba(0,0,0,0.4);
  margin-bottom: 0px;
}

.pool-title a {
  color: black;
}

.pool-price p {
  margin: 0px;
  font-weight: bold;
  padding-right: 10px;
}

.pool-delete a {
  color: #103c6b;
  padding-left: 50px;
  padding-right: 10px;
}

.pool-edit a {
  color: #103c6b;
  padding-left: 50px;
  padding-right: 10px;
}

.pool-actions {
    right: 30px;
    position: absolute;
}
